* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(69, 137, 206);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

hr {
  border: none;
  border-top: 1px solid #f0f0f0;
  width: 100%;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 30px 55px 0px 55px;
  font-size: 20px;
}

.nav-list {
  margin: 30px 0 0 55px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.nav-list li {
  display: flex;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.nav-list li:not(:last-child)::after {
  content: "•";
  margin-left: 8px;
  font-size: 26px;
  font-weight: bold;
  line-height: 0;
}

@media (max-width: 600px) {
  header {
    justify-content: center;
    padding: 15px;
  }

  .logo {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }

  .nav-list {
    justify-content: center;
    margin: 30px 0 0 0;
  }

  .nav-list a {
    line-height: 1.8;
  }
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

#projects li {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 25px;
}

#projects li p {
  margin: 5px 0 0 0;
  font-size: 16px;
}

@media (max-width: 600px) {
  header {
    justify-content: center;
    padding: 15px 20px;
  }

  .logo {
    text-align: center;
    width: 100%;
  }

  p {
    margin: 30px 20px 0;
    font-size: 18px;
  }

  .nav-list {
    justify-content: center;
    margin: 20px 0 0;
    flex-wrap: wrap;
  }

  h2 {
    margin: 60px 20px 0;
    text-align: center;
  }

  #projects {
    margin: 20px;
    padding: 0;
  }

  #projects li {
    margin-bottom: 30px;
  }

  #projects li p {
    font-size: 15px;
    line-height: 1.5;
  }
}

header {
  padding: 10px 5%;
}

p {
  margin: 30px 5% 0;
}

.nav-list {
  margin: 30px 0 0 5%;
}

h2 {
  margin: 80px 0 0 5%;
}

#projects {
  margin: 20px 5% 60px;
  padding-left: 20px;
}
